<div class = "container">
    home handlebars
    {{#each words}}
    <div class = "card">
        <div class="card-header text-center">
            <h5 class="card-title">{{this.word}}</h5>
        </div>
        <div class="card-body">
            <button class="saveword" data-id="{{this._id}}"
            data-word="{{this.word}}"
            data-meaning="{{this.meaning}}"
            data-grammar="{{this.grammar}}"
            >Add to practice</button>
            <p class="card-text">{{this.meaning}}</p>
            <h6 class="card-text">{{this.grammar}}</h6>
            {{!-- {{this._id}}
            {{this.link}}
            {{this}} --}}
        </div>
    </div>
    {{/each}}
</div>    